# Работа с файлами данных

Материалы:
* Макрушин С.В. "Лекция 4: Форматы данных"
* https://docs.python.org/3/library/json.html
* https://docs.python.org/3/library/pickle.html
* https://www.crummy.com/software/BeautifulSoup/bs4/doc.ru/bs4ru.html
* Уэс Маккини. Python и анализ данных

v 0.2 05.10.22

## Задачи для совместного разбора

1. Вывести все адреса электронной почты, содержащиеся в адресной книге `addres-book.json`

2. Вывести телефоны, содержащиеся в адресной книге `addres-book.json`

3. По данным из файла `addres-book-q.xml` сформировать список словарей с телефонами каждого из людей.

## Лабораторная работа №3.1

### JSON

In [33]:
import json
import pandas as pd

1.1 Считайте файл `contributors_sample.json`. Воспользовавшись модулем `json`, преобразуйте содержимое файла в соответствующие объекты python. Выведите на экран информацию о первых 3 пользователях.

In [36]:
with open("contributors_sample.json", "r") as file:
    data = json.load(file)
data[:5]

[{'username': 'uhebert',
  'name': 'Lindsey Nguyen',
  'sex': 'F',
  'address': '01261 Cameron Spring\nTaylorfurt, AK 97791',
  'mail': 'jsalazar@gmail.com',
  'jobs': ['Energy engineer',
   'Engineer, site',
   'Environmental health practitioner',
   'Biomedical scientist',
   'Jewellery designer'],
  'id': 35193},
 {'username': 'vickitaylor',
  'name': 'Cheryl Lewis',
  'sex': 'F',
  'address': '66992 Welch Brooks\nMarshallshire, ID 56004',
  'mail': 'bhudson@gmail.com',
  'jobs': ['Music therapist',
   'Volunteer coordinator',
   'Designer, interior/spatial'],
  'id': 91970},
 {'username': 'sheilaadams',
  'name': 'Julia Allen',
  'sex': 'F',
  'address': 'Unit 1632 Box 2971\nDPO AE 23297',
  'mail': 'darren44@yahoo.com',
  'jobs': ['Management consultant',
   'Engineer, structural',
   'Lecturer, higher education',
   'Theatre manager',
   'Designer, textile'],
  'id': 1848091},
 {'username': 'nicole82',
  'name': 'Gina Stevens',
  'sex': 'F',
  'address': '9880 Michelle Bridge\nNew Kimberlybury, WY 02583',
  'mail': 'stevensonsarah@hotmail.com',
  'jobs': ['Mechanical engineer', 'Retail banker', 'Barrister'],
  'id': 50969},
 {'username': 'jean67',
  'name': 'Nicholas Harrington',
  'sex': 'M',
  'address': '9080 Monica Crescent Suite 820\nNorth Deanbury, HI 28977',
  'mail': 'denise42@gmail.com',
  'jobs': ['Network engineer',
   'Youth worker',
   'Primary school teacher',
   'Engineer, broadcasting (operations)'],
  'id': 676820}]

In [80]:
for user in data[:3]:
    print(json.dumps(user, indent=4, ensure_ascii=False))

{
    "username": "uhebert",
    "name": "Lindsey Nguyen",
    "sex": "F",
    "address": "01261 Cameron Spring\nTaylorfurt, AK 97791",
    "mail": "jsalazar@gmail.com",
    "jobs": [
        "Energy engineer",
        "Engineer, site",
        "Environmental health practitioner",
        "Biomedical scientist",
        "Jewellery designer"
    ],
    "id": 35193
}
{
    "username": "vickitaylor",
    "name": "Cheryl Lewis",
    "sex": "F",
    "address": "66992 Welch Brooks\nMarshallshire, ID 56004",
    "mail": "bhudson@gmail.com",
    "jobs": [
        "Music therapist",
        "Volunteer coordinator",
        "Designer, interior/spatial"
    ],
    "id": 91970
}
{
    "username": "sheilaadams",
    "name": "Julia Allen",
    "sex": "F",
    "address": "Unit 1632 Box 2971\nDPO AE 23297",
    "mail": "darren44@yahoo.com",
    "jobs": [
        "Management consultant",
        "Engineer, structural",
        "Lecturer, higher education",
        "Theatre manager",
        "Designer, textile"
    ],
    "id": 1848091
}

1.2 Выведите уникальные почтовые домены, содержащиеся в почтовых адресах людей

In [41]:
unique_domains = set()
for user in data:
    mail = user['mail']
    unique_domains.add(mail.split("@")[-1])

unique_domains

{'gmail.com', 'hotmail.com', 'yahoo.com'}

1.3 Напишите функцию, которая по `username` ищет человека и выводит информацию о нем. Если пользователь с заданным `username` отсутствует, возбудите исключение `ValueError`

In [44]:
def find_user(data, username):
    for user in data:
        if user['name'].strip().lower() == username.strip().lower():
            return user
    raise ValueError(f'Пользователь {username} не найден')

In [46]:
find_user(data, "Egor Shipilov")

ValueError: Пользователь Egor Shipilov не найден

In [48]:
find_user(data, "Julia Allen")

{'username': 'sheilaadams',
 'name': 'Julia Allen',
 'sex': 'F',
 'address': 'Unit 1632 Box 2971\nDPO AE 23297',
 'mail': 'darren44@yahoo.com',
 'jobs': ['Management consultant',
  'Engineer, structural',
  'Lecturer, higher education',
  'Theatre manager',
  'Designer, textile'],
 'id': 1848091}

1.4 Посчитайте, сколько мужчин и женщин присутсвует в этом наборе данных.

In [51]:
sex_cnt = {}
for user in data: 
    if user['sex'] == "F":
        sex_cnt['F'] = sex_cnt.get('F', 0) + 1
    else:
        sex_cnt['M'] = sex_cnt.get('M', 0) + 1

sex_cnt

{'F': 2136, 'M': 2064}

1.5 Создайте `pd.DataFrame` `contributors`, имеющий столбцы `id`, `username` и `sex`.

In [54]:
contributors = pd.DataFrame(data, columns = ["id", "username", "sex"])
contributors.set_index('id', inplace=True)
contributors.head(10)

             username sex
id
35193         uhebert   F
91970     vickitaylor   F
1848091   sheilaadams   F
50969        nicole82   F
676820         jean67   M
64918         james67   F
113941    woodmarissa   M
398160   sampsontammy   M
35635      jonathan18   M
718054      michael53   M

1.6 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Объедините `recipes` с таблицей `contributors` с сохранением строк в том случае, если информация о человеке отсутствует в JSON-файле. Для скольких человек информация отсутствует?

In [57]:
recipes = pd.read_csv("recipes_sample.csv")
recipes.set_index('id', inplace=True)
recipes.head()

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients
id,,,,,,,
44123,george s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
67664,healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
38798,i can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
35173,italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
84797,love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN

In [59]:
df = recipes.merge(contributors, on="id", how="left")
missing_info_cnt = (df['username'].isna().sum())

df.head()

,name,minutes,contributor_id,submitted,n_steps,description,n_ingredients,username,sex
id,,,,,,,,,
44123,george s at the cove black bean soup,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,NaN,NaN
67664,healthy for them yogurt popsicles,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,NaN,NaN
38798,i can t believe it s spinach,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,NaN,NaN
35173,italian gut busters,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,NaN,NaN
84797,love is in the air beef fondue sauces,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,NaN,NaN

In [61]:
missing_info_cnt

29830

### pickle

In [64]:
import pickle
import os

2.1 На основе файла `contributors_sample.json` создайте словарь следующего вида: 
```
{
    должность: [список username людей, занимавших эту должность]
}
```

In [67]:
jobs = set()
for user in data: 
    for job in user['jobs']:
        jobs.add(job)

In [69]:
posts = dict()
for user in data:
    for job in jobs:
        if job in user['jobs']:
            if job not in posts:
                posts[job] = []
            posts[job].append(user["name"])

for key, value in list(posts.items())[:5]:
    print(f"{key}: {value}\n")

Biomedical scientist: ['Lindsey Nguyen', 'Andrea Lawson', 'Diana Potter', 'Brent Johnson', 'Andre Dawson', 'Peter Mullins', 'Cindy Perez', 'Roger Hall', 'Andrew Perry', 'Kristy Reyes', 'Jennifer Castro', 'David Little', 'Eric Le', 'Dustin Sandoval', 'Gerald Thomas', 'Sydney Kane', 'Virginia Ortiz', 'Patricia Franklin', 'Alexander Rogers', 'Kara Owens', 'Jason Warren', 'Jennifer Crawford', 'Rebecca James']

Energy engineer: ['Lindsey Nguyen', 'Richard Brown', 'Frank Cruz', 'Anna Yu', 'Brenda Young', 'Carrie Harris', 'Lauren Jones', 'Bernard Houston', 'Debra Berry', 'Joseph Davis', 'Emily Martin DDS', 'Kimberly Rodriguez', 'Bryce Martinez', 'Felicia Conley', 'Jessica Villarreal', 'Natalie Cline', 'Samantha Miller', 'Sandra Williamson', 'John Ritter', 'Christopher Lewis', 'Shannon Johnson']

Jewellery designer: ['Lindsey Nguyen', 'Adam Watson', 'Cynthia Bryant', 'Jessica Myers', 'Matthew Bridges', 'Jamie Kelly', 'Alison Snyder', 'Joanna Webster', 'Megan Brewer', 'Madeline Murray', 'Angela Nguyen', 'Rachel Solis', 'Victoria Powell', 'Zachary Ramirez', 'David Snyder', 'Emily Abbott', 'Monique Wallace', 'Amy Adams', 'Gabriel Horton', 'Jessica Thomas', 'Jessica Garner', 'Mary Berry', 'Susan Thomas']

Engineer, site: ['Lindsey Nguyen', 'Jesus Thomas', 'Noah Garcia', 'Autumn Parker', 'Katie James', 'Ashley Gill', 'Ashley Martin', 'Adam Short', 'Jonathan Sheppard', 'Teresa Novak', 'Jillian Knapp', 'Emily Williams', 'Alexander Becker', 'Bryan Casey', 'William Sandoval', 'Christopher Price', 'Noah Harper', 'Grace Day', 'Eric Smith', 'Samuel West', 'Chelsey Mitchell', 'Patricia Gross', 'Kimberly Holloway', 'Deborah Brown', 'David Powell', 'Daniel Rodriguez', 'Donna Lee']

Environmental health practitioner: ['Lindsey Nguyen', 'Joyce Bennett', 'Jennifer Stewart', 'Kevin Smith', 'Patrick Shaw', 'Kaitlyn Berry', 'Dr. Anthony Dunlap', 'Aaron Caldwell', 'Rebecca Perry', 'Ronald King', 'Daniel Wall', 'Megan Patterson', 'Parker Howe', 'Traci Williams', 'Lawrence Wheeler Jr.', 'Kenneth Peck', 'Kevin Rodriguez', 'Roger Hayes', 'Devin Alexander', 'Joel Mcintyre', 'James Murillo', 'Dr. Regina Cross', 'Linda Phillips', 'Emily Shea', 'Louis Gibbs', 'Richard Roberts', 'Kristen Parrish', 'Stacey Johnson', 'Wesley Perry']

2.2 Сохраните результаты в файл `job_people.pickle` и в файл `job_people.json` с использованием форматов pickle и JSON соответственно. Сравните объемы получившихся файлов. При сохранении в JSON укажите аргумент `indent`.

In [72]:
with open("job_people_new.json", "w") as file_js:
    json.dump(posts, file_js ,indent=4)

In [74]:
with open("job_people_new.pickle", "wb") as file_pk:
    pickle.dump(posts, file_pk)

In [76]:
pickle_size = os.path.getsize('job_people_new.pickle')
json_size = os.path.getsize('job_people_new.json')

pickle_size, json_size

(146529, 446013)

2.3 Считайте файл `job_people.pickle` и продемонстрируйте, что данные считались корректно.

In [ ]:
with open('job_people_new.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

for key, value in list(loaded_data.items())[:5]:
    print(f"{key}: {value}\n")

## Лабораторная работа №3.2

### XML

In [ ]:
from bs4 import BeautifulSoup

3.1 По данным файла `steps_sample.xml` сформируйте словарь с шагами по каждому рецепту вида `{id_рецепта: ["шаг1", "шаг2"]}`. Сохраните этот словарь в файл `steps_sample.json`

In [ ]:
with open('steps_sample.xml', 'r', encoding='utf-8') as file:
    soup = BeautifulSoup(file, 'xml')
    
recipes_sp = soup.find_all('recipe')

In [ ]:
slov_steps = dict()

for recipe in recipes_sp:
    id = recipe.find("id").text
    steps = []
    step_elements = recipe.find_all("step")
    for step in step_elements:
        steps.append(step.text.strip())
    slov_steps[id] = steps
    
for key, value in list(slov_steps.items())[:5]:
    print(f"{key}: {value}\n")

In [ ]:
with open("steps_sample.json", "w") as file:
    json.dump(slov_steps, file, ensure_ascii=False, indent=4)

3.2 По данным файла `steps_sample.xml` сформируйте словарь следующего вида: `кол-во_шагов_в_рецепте: [список_id_рецептов]`

In [ ]:
# 1 способ
slov_count = dict()

for recipe in recipes_sp:
    id = recipe.find("id").text
    steps = []
    count = 0
    step_elements = recipe.find_all("step")
    for step in step_elements:
        steps.append(step.text.strip())
    slov_count[id] = len(steps)

for key, value in list(slov_count.items())[:10]:
    print(f"{key}: {value}")

In [ ]:
# 2 способ
count = dict()
for key, value in slov_steps.items():
    count[key] = len(value)

for key, value in list(count.items())[:10]:
    print(f"{key}: {value}")

3.3 Получите список рецептов, в этапах выполнения которых есть информация о времени (часы или минуты). Для отбора подходящих рецептов обратите внимание на атрибуты соответствующих тэгов.

In [ ]:
with_time = []
for recipe in recipes_sp:
    id = recipe.find('id').text 
    has_time = False  
    for step in recipe.find_all('step'):
        if step.has_attr('has_minutes') or step.has_attr('has_hours'):
            has_time = True
            break
    if has_time:
        with_time.append(id)
        
with_time[:10]

3.4 Загрузите данные из файла `recipes_sample.csv` (__ЛР2__) в таблицу `recipes`. Для строк, которые содержат пропуски в столбце `n_steps`, заполните этот столбец на основе файла  `steps_sample.xml`. Строки, в которых столбец `n_steps` заполнен, оставьте без изменений.

In [ ]:
data_recipes = pd.read_csv("recipes_sample.csv")
data_recipes.head()

In [ ]:
data_recipes['n_steps'] = data_recipes.apply(
    lambda row: count[str(row['id'])] if pd.isna(row['n_steps']) else row['n_steps'],
    axis=1
)

In [ ]:
data_recipes.head()

3.5 Проверьте, содержит ли столбец `n_steps` пропуски. Если нет, то преобразуйте его к целочисленному типу и сохраните результаты в файл `recipes_sample_with_filled_nsteps.csv`

In [ ]:
miss_cnt = data_recipes['n_steps'].isna().sum()
miss_cnt

In [ ]:
data_recipes['n_steps'] = data_recipes['n_steps'].astype("int64")
data_recipes.head()